// dropdown menu
.dropdown__ {
  position: relative;

  > a,
  .butt__ {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    color: $headingMainColor;
    font-size: 14px;
    width: 100%;

    &::after {
      content: url(../images/shapes/arrow_down.svg);
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-inline-start: auto;
      height: 18px;
      transition: 0.5s;
      
    }

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu__ {
    width: fit-content;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: table;
    position: absolute;
    top: 100%;
    inset-inline-end: 0;
    background-color: #fff;
    width: 100%;
    // padding: 12px 20px;
    border: none;
    transform-origin: center 0;
    transition: 0.5s;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(#000, 0.05);

    @include sm {
      min-width: 100%;
    }

    li {

      a,
      button,
      .list_content__ {
        font-size: 1.4rem;
        font-weight: 400;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: $headingMainColor;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
        position: relative;

        &:hover {
          color: #fff !important;
          background-color: $primaryColor;

          &::before {
            filter: brightness(0) invert(1) !important;
          }
        }

        &::before {
          margin-inline-end: 10px;
        }

        &.orders__ {
          &::before {
            content: url(../images/shapes/header_user_dropdown_menu_links_icons/orders__.svg);
          }
        }

        &.addresses__ {
          &::before {
            content: url(../images/shapes/header_user_dropdown_menu_links_icons/addresses__.svg);
          }
        }

        &.personal_info__ {
          &::before {
            content: url(../images/shapes/header_user_dropdown_menu_links_icons/personal_info__.svg);
          }
        }

        &.logout__ {
          color: $mainRedColor;
          &::before {
            content: url(../images/shapes/header_user_dropdown_menu_links_icons/logout__.svg);
          }

          &:hover {
            color: $mainRedColor;
          }
        }

        &:hover {
          text-decoration: none;
          color: $secondaryColor;
        }
      }
    }
  }

  &:hover {
    &::after {
      display: inline-block !important;
      z-index: 9999;
    }

    .sub-menu__ {
      visibility: visible;
      opacity: 1;
      z-index: 112;
      border-radius: 25px;
      border-top-left-radius: 0;

      @include dir {
        border-top-left-radius: 25px;
        border-top-right-radius: 0;
      }
    }
  }
}

@include sm {
  .dropdown__ {
    > a,
    .butt__ {
      color: #fff;
      font-size: 14px;
      background-color: rgba(#fff, 0.2);
      height: 49px;
      padding: 0 10px;
      border-radius: 13px;

      &::after {
        margin-inline-start: auto;
      }
    }
  }
}
