.sing-up-blocks {
  display: flex;
  align-items: center;
  gap: 10px;


  .singup_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid rgba($primaryColor , 0.17);
    min-width: 123px;
    height: 49px;
    padding: 3px 20px;
    border-radius: $mainBorderRadius;
    font-size: 1.4rem;
    color: #fff;
    background-color: $primaryColor;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;

    @include md {
      min-width: fit-content !important;
    }
    
    &:hover {
      background-color: rgba($primaryColor , 0.9);
    }
    
    &.login_link {
      min-width: 144px;
      border-color: transparent;
      color: #fff;
      background-color: $secondaryColor;
      
      &:hover {
        background-color: rgba($secondaryColor, 0.9);
      }

    }

    .icon__ {
      background-color: transparent !important;
      margin-inline-end: 5px;
    }
  }

  &.nav_sign_block__ {
    display: none;
  }
}




@include sm {
  .sing-up-blocks {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    gap: 0;

    .singup_link {
        width: 50%;
        border-radius: 0;
        margin-bottom: 0;
        min-width: 70px;
        padding: 3px 10px;
        height: 49px;
        border: 1px solid rgba(#fff, 0.2);
        color: #fff;
        background-color: transparent;

        @include xxs {
          font-size: 10px;
        }
        
        &:hover {
          background-color: rgba($primaryColor, 0.2);
          color: #fff;
          border: 1px solid rgba(#fff, 0.2);
          color: #fff;
        }
        
        &.login_link {
          background-color: rgba(#fff, 0.2);
          border: 1px solid rgba(#fff, 0.2);
          color: #fff;
          height: 49px;
          margin: 0;
          
          &:hover {
            border: 1px solid rgba(#fff, 0.2);
            background-color: rgba(#fff, 0.2);
            color: #fff;
          }
      }
    }
  
    &.nav_sign_block__ {
        display: block;
        margin-bottom: 30px;
    }
  }
}