// .radio-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.radio_wrapper {
  background-color: $greyColor;
  padding: 15px 35px;
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.radio-group-om {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  gap: 10px;

  &.flex_center__ {
    display: flex;
    align-items: center;
  }

  &.none_margin__ {
    margin: 0 !important;
  }

  .radio-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      + .radio-label-om {
        border-color: $secondaryColor;
        background-image: url(../images/shapes/check.svg);
      }

      ~ .text_wrapper {
        .radio_title__ {
          color: $secondaryColor !important;
        }

        .radio_description__ {
          color: $headingMainColor;
        }
      }
    }
  }

  .radio-label-om {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #86959F;
    background-position: center center;
    background-size: 10px;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  .text_ {
    margin: 0;
    font-size: 15px;
    margin-inline-start: 5px;
    cursor: pointer;
    color: $headingMainColor;
  }

  .radio_title__ {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    color: $paragraphMainColor;
    margin-bottom: 5px;

    &.none_margin__ {
      margin: 0 !important;
    }
  }
  
  .radio_description__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
  }
}
