.default_page__ {
  min-height: 50vh;
  padding-top: 100px;
  padding-bottom: 100px;

  @include sm {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @include xs {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.default_section__ {
  padding-bottom: 65px;
  padding-top: 65px;

  @include md {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @include sm {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @include xs {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.section_block {
  &.with_border_bottom {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid $borderBreakColor;
  }
}

.section_tools_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include xxs {
    flex-direction: column;
    margin: 20px 0;
  }
}

.section_block_title_wrapper__ {
  &.flex_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.with_margin {
    margin-bottom: 30px;
  }
}

.page_parag {
  font-size: 1.6rem;
  font-weight: 300;
  
  * {
    font-size: 1.6rem;
    font-weight: 300;
  }


  &.with_margin {
    margin-bottom: 50px;

    @include sm {
      margin-bottom: 25px;
    }
    
    @include xs {
      margin-bottom: 10px;
    }
  }

  &.with_small_margin_bottom {
    margin-bottom: 30px;

    @include xs {
      margin-bottom: 15px;
    }
  }
} 

.section_block_title {
  font-size: 1.8rem;
  font-weight: 700;
  color: $headingThirdColor;
  margin-bottom: 15px;

  @include xs {
    margin-bottom: 10px;
  }
}

.card_block_title__ {
  font-size: 1.4rem;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;

  &.with_big_margin {
    margin-bottom: 30px;

    @include xs {
      margin-bottom: 5px;
    }
  }
}

.row_modify {
  display: flex;

  @include md {
    justify-content: center;
  }

  &.with_row_gap {
    row-gap: 30px;

    @include xs {
      row-gap: 15px;
    }
  }

  &.with_margin_bottom__ {
    margin-bottom: 30px;

    @include xs {
      margin-bottom: 15px;
    }
  }

  &.reverse_dir_column_small_size {
    @include sm {
      flex-direction: column-reverse;
    }
  }

  &.justify_between__ {
    justify-content: space-between;
  }

  &.items_center__ {
    align-items: center;
  }

  &.items_start__ {
    align-items: flex-start;
  }

  &.items_end__ {
    align-items: flex-end;
  }

  &.with_border_bottom {
    padding-bottom: 40px;
    border-bottom: 3px solid $borderBreakColor;

    @include xs {
      padding-bottom: 20px;
    }
  }
}

.col_flex {
  display: flex;
}

.section_block_title__ {
  font-size: 1.6rem;
  font-weight: 500;
  color: $headingMainColor;
  margin-bottom: 20px;
}
