.hero_sec__ {
  background: linear-gradient(135deg, #580209 0%, #70121a 100%);
  position: relative;
  // height: calc(100vh - 183px);
  height: fit-content;

  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 95.88%,
    1% 95.67%,
    2% 95.44%,
    3% 95.2%,
    4% 94.95%,
    5% 94.7%,
    6% 94.44%,
    7% 94.16%,
    8% 93.89%,
    9% 93.6%,
    10% 93.31%,
    11% 93.02%,
    12% 92.71%,
    13% 92.41%,
    14% 92.09%,
    15% 91.78%,
    16% 91.46%,
    17% 91.14%,
    18% 90.81%,
    19% 90.48%,
    20% 90.15%,
    21% 89.82%,
    22% 89.48%,
    23% 89.15%,
    24% 88.82%,
    25% 88.48%,
    26% 88.15%,
    27% 87.82%,
    28% 87.49%,
    29% 87.16%,
    30% 86.84%,
    31% 86.52%,
    32% 86.2%,
    33% 85.89%,
    34% 85.58%,
    35% 85.27%,
    36% 84.98%,
    37% 84.68%,
    38% 84.4%,
    39% 84.12%,
    40% 83.85%,
    41% 83.58%,
    42% 83.32%,
    43% 83.07%,
    44% 82.83%,
    45% 82.6%,
    46% 82.38%,
    47% 82.17%,
    48% 81.97%,
    49% 81.77%,
    50% 81.59%,
    51% 81.42%,
    52% 81.26%,
    53% 81.11%,
    54% 80.97%,
    55% 80.84%,
    56% 80.73%,
    57% 80.63%,
    58% 80.54%,
    59% 80.46%,
    60% 80.39%,
    61% 80.34%,
    62% 80.3%,
    63% 80.27%,
    64% 80.25%,
    65% 80.25%,
    66% 80.25%,
    67% 80.28%,
    68% 80.31%,
    69% 80.36%,
    70% 80.41%,
    71% 80.48%,
    72% 80.57%,
    73% 80.66%,
    74% 80.77%,
    75% 80.89%,
    76% 81.02%,
    77% 81.16%,
    78% 81.32%,
    79% 81.48%,
    80% 81.66%,
    81% 81.84%,
    82% 82.04%,
    83% 82.25%,
    84% 82.46%,
    85% 82.69%,
    86% 82.92%,
    87% 83.17%,
    88% 83.42%,
    89% 83.68%,
    90% 83.95%,
    91% 84.22%,
    92% 84.5%,
    93% 84.79%,
    94% 85.09%,
    95% 85.39%,
    96% 85.69%,
    97% 86%,
    98% 86.32%,
    99% 86.64%,
    100% 86.96%
  );

  .hero_img__ {
    max-width: 350px;
    margin: 0 auto;
    position: relative;

    @include sm {
      max-width: 300px;
    }

    @include xs {
      max-width: 200px;
    }
  }

  .hero_overlay__ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .figure__ {
    padding-bottom: 159.195%;
  }

  .hero_content__ {
    padding: 50px 0;

    @include sm {
      padding: 20px 0;
    }
  }

  .hero_title__,
  .hero_sub_title__ {
    font-size: 6.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Farsi";
    line-height: 89px;

    @include sm {
      text-align: center;
      margin-bottom: 0px;
    }

    @include xs {
      line-height: 60px;
    }
  }

  .hero_sub_title__ {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 45px;

    @include sm {
      margin-bottom: 20px;
    }
  }
}

.about_sec__ {
  .about_img__ {
    // padding: 30px 40px;
    padding-inline-start: 40px;
    padding-top: 30px;
    position: relative;

    @include sm {
      padding: 0;
    }


    &::after {
      content: url('../images/about_section/about_us_image_background.svg');
      position: absolute;
      width: 90%;
      height: 90%;
      top: 0;
      inset-inline-start: 0;
      z-index: -1;
      overflow: hidden;

      @include sm {
        display: none
      }

      // @include md {
      //   width: 50% !important;
      //   overflow: hidden;
      // }
    }
  }

  .figure__ {
    @include p-bottom(541px, 406px);
    border-radius: 55px;
    overflow: hidden;
  }

  .main_parag__ {
    font-size: 2.2rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 23px;
  }

  .parag__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 30px;
  }
}

.connect-with-us {
  .row_modify {
    align-items: center;
  }

  .connect-image-wrapper {
    padding: 0 60px;

    .asp-om {
      padding-bottom: 100%;
    }
  }
}
