.offer-address {
  .page_head_wrapper {
    @include sm {
      margin-top: 30px;
    }
  }

  .figure__ {
    border-radius: $mainBorderRadius;
    overflow: hidden;
    max-width: 536px;
    @include p-bottom(525, 536);
    margin: 0 auto;
  }
}
