.personal_info_page_content__ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
    gap: 20px;
  }
}

.delete_mail_wrapper {
  max-width: 544px;
  padding: 50px;
  background-color: rgba($mainRedColor , 0.05);
  border-radius: $secondaryBorderRadius;

  @include sm {
    max-width: 100%;
  }

  @include xs {
    padding: 20px;
  }

  .title__ {
    font-size: 1.9rem;
    font-weight: 700;
    color: $mainRedColor;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .content__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include xs {
      flex-direction: column;
    }

    .delete_button__ {
      flex-shrink: 0;
    }
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;

  }
}