.footer-contact-wrapper {
  border-radius: $mainBorderRadius;
  padding: 35px;
  background-color: rgba(#ffffff, 0.13);
  margin-bottom: 60px;
  

  @include xxs {
    padding: 25px;
    row-gap: 30px;
  }
}

.footer_contacts_links_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $primaryColor;
  padding-top: 50px;
  overflow: hidden;
  border-radius: 86px 86px 0 0;
}

.footer_logo__ {
  margin-bottom: 15px;
  max-width: 55px;
  max-height: 35px;
}

.footer_head__ {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 31px;
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 27px;
  margin-bottom: 40px;
  padding: 0;
  margin-inline-start: 25px;

  @include xs {
    gap: 10px;
  }

  @include xxs {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  a {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;
    width: fit-content;
    position: relative;

    @include dir {
      font-size: 12px;
    }

    img {
      max-width: 15px;
      max-height: 15px;
    }

    &::before {
      position: absolute;
      content: "";
      transition: 0.5s;
      background-image: url("/assets/images/shapes/footer_icons/shape.svg");
      filter: invert(1);
      width: 12px;
      height: 19px;
      inset-inline-start: -25px;
    }

    &:hover {
      opacity: 0.8;
      color: $secondaryColor;

      &::before {
        filter: invert(60%) sepia(46%) saturate(5515%) hue-rotate(15deg)
          brightness(99%) contrast(84%);
      }
    }
  }
}

.footer_contacts {
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.footer_socials__ {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
  gap: 10px;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 15px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition: 0.5s;
    border: 1px solid rgba(#fff, 0.34);
    border-radius: 50%;
    padding: 8px;

    img {
      filter: none;
    }

    &:hover {
      background-color: #fff;

      img {
        filter: invert(1) !important;
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  .copyright_icon__,
  .copyright_logo__ {
    filter: brightness(0) invert(1);
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
