@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.main_header__ {
  height: fit-content !important;
  overflow: visible;
}

.fixed_header__ {
  position: relative;
  z-index: 111;
  background-color: #fff;
  padding: 35px 0 0;
  height: 110px;

  @include sm {
    height: 70px;
    padding-top: 15px;
  }

  @include xs {
    background-color: #000;
    height: fit-content;
  }


  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: 0s;
    background-color: #000;
  }

  &.active_menu__ {
    animation: active-menu 0.5s;
    // box-shadow: 0 0 10px rgba(#000, 0.1);
    padding: 0 !important;
    height: fit-content;
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }
}

.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 45px;
  border-radius: $secondaryBorderRadius;

  @include sm {
    padding: 0 15px;
  }
}

.top_header {
  padding: 30px 0 0;
  
  @include sm {
    padding: 20px 0;
    justify-content: space-between;
  }
  
  .top_header_content__ {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
      justify-content: center;
    }


  }

  .header_announcement_wrapper {
    display: flex;
    align-items: center;
    gap: 50px;

    @include sm {
      gap: 10px;
    }
    
    @include xxs {
      flex-direction: column;
    }

    .text_wrapper__ {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
