// swiper slider
.swiper-button-next,
.swiper-button-prev {
  top: 80%;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid $primaryColor;
  border-radius: 50%;
  transition: 0.5s;
  overflow: hidden;
  background-color: $primaryColor;

  &::after {
    content: url("../images/shapes/arrow-right.svg") !important;
    display: block;
    position: static;
    height: 64px;
    filter: brightness(0) invert(1);
    // transform: rotateY(-180deg);

    @include dir {
      transform: rotateY(180deg);
    }
  }

  &:hover {
    background-color: rgba($primaryColor , 0.8);
  }

  &.swiper-button-disabled {
    border: 1px solid $primaryColor;
    background-color: transparent;
    opacity: 1;

    &::after {
      filter: unset;
    }

    &:hover {
      background-color: rgba($primaryColor , 0.1);
    }
  }
}

.swiper-button-next {
  left: 45% !important;

  &::after {
    transform: rotateY(180deg);

    @include dir {
      transform: rotateY(-180deg);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  // position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  gap: 4px;

  &.product_single_page_pagination {
    bottom: 35px;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  position: relative;
  margin: 0 !important;
  border-radius: 7px;
  opacity: 1;
  height: 8px;
  width: 14px;
  background-color: #fff;
  // margin-top: 20px;
  transition: 0.5s;

  &.swiper-pagination-bullet-active {
    width: 52px;
  }
}

// ###################################################################

.arrow-sec {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-button-prev,
  .swiper-button-next {
    transform: unset;
    margin: 0;
    position: static;
    margin-inline-start: 16px;
    flex-shrink: 0;
    margin-top: 45px;
  }
}
