.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }

  &.default_cursor {
    cursor: default !important;
  }

  &.secondary_button__ {
    background-color: $secondaryColor !important;

    &:hover {
      background-color: rgba($secondaryColor, 0.8) !important;
    }
  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.filter_white_icon__ {
    .icon__ {
      filter: brightness(0) invert(1);
    }

    &:hover {
      .icon__ {
        filter: unset;
      }
    }
  }

  &.green_bg_button {
    background-color: $greenColor !important;
    border: 1px solid $greenColor !important;
    color: #fff;

    &:hover {
      background-color: transparent !important;
      color: $greenColor !important;
    }
  }

  &.red_bg_button {
    background-color: $mainRedColor !important;
    border: 1px solid $mainRedColor !important;
    color: #fff;

    &:hover {
      background-color: transparent !important;
      color: $mainRedColor !important;
    }
  }

  &.large_fixed_size__ {
    width: 246px;
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.half_width__ {
    width: 50%;
  }

  &.fixed_size__ {
    min-width: 168px;
    max-width: 168px;
  }

  &.second_fixed_width {
    min-width: 188px;
    max-width: 188px;
  }

  &.margin_top__ {
    margin-top: 40px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.small_margin_top__ {
    margin-top: 20px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.submit-button__,
  input[type="submit"] {
    height: 46px;
    color: #fff;
    padding: 0 25px;
    font-size: 1.4rem;
    background-color: $primaryColor;
    border-radius: $mainBorderRadius;
    margin-inline-start: auto;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.sign_up_terms_modal_button {
    color: $secondaryColor !important;
  }

  &.cart_delete_button__ {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -10px;
    inset-inline-end: -10px;
    background-color: $mainRedColor;
    border-radius: 50%;
    padding: 10px;
    opacity: 0;

    i {
      font-weight: 900;
      color: #fff;
    }
  }

  &.header_button {
    border: 1px solid #fff;
    @include circle(46px);

    .icon__ {
      max-width: 24px;
      max-height: 24px;
    }

    &.has_items__ {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -3px;
        inset-inline-start: -3px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $mainRedColor;
        border: 2px solid #000;
      }
    }

    &:hover {
      background-color: rgba(#fff, 0.24);
      border-color: transparent;
    }
  }

  &.registration_submit_button__ {
    width: 246px;
  }

  &.second_registration_submit_button__ {
    background-color: rgba($primaryColor, 0.04);
    color: $primaryColor;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 140px;
    
    &:hover {
      color: #fff;

    }
  }

  &.add_coupon {
    background-color: $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }
  }

  &.modify_button__ {
    font-size: 1.4rem;
    font-weight: 500;
    color: $primaryColor;
    width: 100%;
    background-color: rgba($primaryColor, 0.04);
    height: 40px;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: $primaryColor;
      color: #fff;

      .icon__ {
        filter: brightness(0)invert(1);
      }
    }
  }
  
  &.delete_button__ {
    background-color: $mainRedColor;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($mainRedColor , 0.8);
    }
  }
}
