.figure__ {
  margin: 0;
  display: flex;
  height: fit-content;

  img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s;
    height: auto;
  }

  &.center {
    width: fit-content;
    margin: 0 auto;
  }
}

// img-flex-asp-om
.asp-om {
  position: relative;
  padding-bottom: 50%;
  display: flex;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
}

.image_wrapper {
  border-radius: $mainBorderRadius;
  overflow: hidden;

  &.repeat_images {
    margin-bottom: 40px;

    @include sm {
      margin-bottom: 30px;
    }

    @include xs {
      margin-bottom: 20px;
    }

    .asp-om {
      @include p-bottom(368.76, 1088);
    }
  }
}
