.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.center_sm_only__ {
    @include sm {
      margin: 0 auto;
    }
  }

  &.main_link {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    font-size: 1.4rem;
    background: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.second_color_link__ {
    height: 46px;
    border-radius: $mainBorderRadius;
    padding: 0 30px;
    background-color: $secondaryColor;
    color: #fff;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }

  &.hero_link__ {
    background-color: #fff;
    color: $primaryColor;
    width: fit-content;
    padding: 15px 30px;
    font-size: 1.4rem;
    border: 1px solid #fff;
    font-weight: 800;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }

  &.main_intro__link {
    max-width: fit-content;
    padding: 12px 40px;
  }

  &.service_link {
    width: 168px;
    padding: 15px;
    margin: 0 auto;
    background-color: transparent;
    color: $primaryColor;
    font-size: 1.4rem;
    border: 1px solid $primaryColor;
    font-weight: 800;
  }

  &.footer_contact_link__ {
    display: flex;
    align-items: center;
    gap: 25px;
    width: fit-content;
    // margin: 0 auto;
    position: relative;
    width: calc(100% / 3 - 78px);

    @include sm {
      width: calc(100% / 2 - 78px);
      justify-content: flex-start;
    }

    @include xs {
      width: 100%;
    }

    .contact-desc {
      flex-shrink: 0;
    }

    .title {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 400;
      margin-bottom: 6px;
      transition: $mainTransition;
    }

    .subtitle {
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
      transition: $mainTransition;
    }

    .icon__ {
      filter: invert(1);
      flex-shrink: 0;
    }

    &:hover {
      .title,
      .subtitle {
        color: $secondaryColor !important;
      }

      .icon__ {
        filter: invert(60%) sepia(46%) saturate(5515%) hue-rotate(15deg)
          brightness(99%) contrast(84%);
      }
    }

    &:not(:last-of-type) {
      &::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: -78px;
        background-color: rgba(#fff, 0.19);
        z-index: 1;
      }
    }

    @include removeStyleLastElementInRow(5, 3) {

      &::after {
        display: none;
      }
    }

    @include sm {
      
    @include removeStyleLastElementInRow(5, 2) {

      &::after {
        display: none;
      }
    }
    }

    @include xs {
      
      &::after {
        display: none;
      }
    }
  }
}
