// Main colors
$primaryColor: #580209;
$secondaryColor: #c68415;
// $greyColor: rgba(#F6F6F6, 0.55);
$thirdColor: #808080;
$greyColor: rgba(#9b9b9b, 0.16);
$greenColor: #00cc30;
$secondGreyColor: #9b9b9b;
$mainRedColor: #f0053c;
$yellowColor: #EFB104;

$mainBoxShadow: 0 0 60px rgba(#acacac, 0.13);
$secondaryBoxShadow: 0 0 30px rgba(#acacac, 0.13);

$borderColor: rgba(#363443, 0.28);
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: rgba(#707070, 0.08);

// Transitions
$mainTransition: 0.5s;
$secondaryTransition: 0.3s;

// Head colors
$headingMainColor: #394444;
$headingSecondaryColor: #394444;
$headingThirdColor: #808080;

// Paragraph Colors
$paragraphMainColor: #9b9b9b;
$paragraphSecondaryColor: #9b9b9b;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 26px;
$secondaryBorderRadius: 35px;
$thirdBorderRadius: 20px;

$dir: "ltr";