.address_card {
  background-color: #fff;
  border-radius: $mainBorderRadius;
  box-shadow: $secondaryBoxShadow;
  padding: 25px 30px;

  .card_content__ {
    display: flex;
    align-items: flex-start;
    gap: 25px;
  }

  .icon__ {
    flex-shrink: 0;
  }

  .description_wrapper {
    margin-bottom: 25px;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 10px;
  }

  .address_info_wrapper__ {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
  }

  .desc_info_wrapper__ {
    grid-column: span 2;
  }

  .name__ ,
  .info__ {
    display: block;
  }

  .name__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 6px;
  }
  
  .info__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $headingSecondaryColor;
  }
}