.modal {
  top: 10vh;
  overflow: unset !important;

  .modal-content {
    padding: 30px 45px;
    border-radius: $mainBorderRadius;
    border: none;
  }

  .close_modal_button {
    font-size: 1.4rem;
    font-weight: 300;
    color: $mainRedColor;
    margin-inline-start: auto;
    position: absolute;
    top: 30px;
    inset-inline-end: 25px;


    .icon__ {
      max-width: 35px;
      min-width: 35px;
      max-height: 35px;
      min-height: 35px;
    }

    &:focus {
      outline: none;
    }
  }
}

.modal-backdrop {
  background-color: rgba($primaryColor , 0.5) !important;
  opacity: 0.78 !important;
}

.modal-open .container-fluid, .modal-open  .container {
  filter: blur(5px) grayscale(60%);
}

.modal-dialog {
  max-width: 403px;
  margin: 0 auto;
  
  &.small_fixed_width {
    max-width: 330px;
  }
  
  &.add_address_modal {
    max-width: 644px;
  }

  &.large_width__ {
      max-width: 65%;
  }
}

.modal_block__ {
  .add_address_modal_content__ {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  .title__ {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 10px;
  }

  .sub_title__ {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 25px;
  }

  .submit-button__ {
    margin-top: 20px;
  }
}
