.cart_card {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 10px;
  padding-inline-end: 35px;
  border-radius: $mainBorderRadius;
  box-shadow: $secondaryBoxShadow;
  position: relative;
  
  @include xs {
    flex-direction: column;
    padding-inline-end: 10px;
  }

  .img_wrapper__ {
    min-width: 112px;
    border-radius: $mainBorderRadius;
    overflow: hidden;

    // @include xs {
    //   min-width: 100%;
    // }
  }

  .figure__ {
    width: 100%;
    padding-bottom: 100%;
  }

  .description_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;

    &.flex_column_xs_screen__ {
      @include xs {
        flex-direction: column;
      }

      &.large_gap__ {
        gap: 60px !important;

        .inputs_wrapper {
          max-width: 50%;
        }
      }
    }
  }

  .info_wrapper__ {
    flex-shrink: 0;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 5px;
    max-width: 15 ch;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }

    .button__ {
      opacity: 1;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}