.count_wrapper__ {
  min-width: 131px;

  .count__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $mainBorderRadius;
    border: 1px solid $borderColor;
    padding: 10px 15px;
    height: 36px;
    
    .count_input__ {
      border: none;
      padding: 0;
      width: fit-content;
      font-size: 1.8rem;
      font-weight: 700;
      max-width: 40px;
      text-align: center;
    }
  }
  
  &.flex_display {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &.flex_direction_column {
    flex-direction: column;
  }

  &.fit_content_width__ {
    width: fit-content;
  }
}