.custom_alert__ {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 12px 32px;
  border-radius: $mainBorderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba($mainRedColor, 0.1);
  font-size: 1.4rem;
  font-weight: 700;
  color: $mainRedColor;
}