.customer_opinion_card {
  display: block;
  position: relative;
  padding: 34px 21px;
  padding-bottom: 45px;
  text-align: center;
  background-color: #fff;
  border-radius: $mainBorderRadius;
  transition: 0.5s;
  box-shadow: 0 0 60px rgba(#acacac, 0.13);

  .figure__ {
    transition: 0.4s;
  }

  .image_wrapper {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 100px;
    height: 100px;

    .asp-om {
      padding-bottom: 100%;
    }
  }

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .parg {
    font-size: 1.4rem;
    color: $paragraphMainColor;
    font-weight: 400;
  }

  
  &:hover {
    // transform: translateY(-10px);

    .figure__ {
      transform: scale(1.1);
    }
  }
}

// .rating {
//   margin-bottom: 20px;

//   .fa-star {
//     color: #d9d9d9;
//     font-size: 15px;
//   }
//   .star-color {
//     color: #efb104;
//   }
// }
