.fatura_wrapper {
  padding: 36px 30px;
  background-color: $greyColor;
  margin-top: 20px;
  border-radius: $mainBorderRadius;

  .fatura_info {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.6rem;
    color: $headingSecondaryColor;
    font-weight: 400;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      color: $primaryColor;
      font-weight: 700;

      .icon__ {
        filter: none;
      }
    }
  }
  
  .icon__ {
    filter: grayscale(1) opacity(0.24);
  }

  &.with_margin_bottom__ {
    margin-bottom: 20px;
  }
}