.horizontal_card {
  display: flex;

  position: relative;
  padding: 12px;
  background-color: #fff;
  border-radius: $mainBorderRadius;
  transition: 0.5s;
  box-shadow: 0 0 60px rgba(#acacac, 0.13);

  .image_wrapper {
    border-radius: 19px;
    overflow: hidden;
    margin: 0 auto;
    width: 123px;
    flex-shrink: 0;
  }

  .figure__ {
    transition: 0.4s;
    @include p-bottom(119, 123);
  }

  .title {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 10px;
  }

  .parg {
    font-size: 1.4rem;
    color: $paragraphMainColor;
    font-weight: 300;

    @include xs {
      margin-bottom: 10px;
    }
  }

  &:hover {
    .figure__ {
      transition: 0.4s;
      transform: scale(1.1);
    }
  }
}
