.page_main_title__ {
  font-size: 3rem;
  font-weight: 800;
  width: fit-content;
  color: $primaryColor;
  margin: 0;
  margin-bottom: 15px;
}

.page_sub_title__ {
  font-size: 1.3rem;
  font-weight: 400;
  color: $headingMainColor;
  margin: 0;

  @include xs {
    font-size: 1.4rem;
  }
}

.page_head_wrapper {
  margin-bottom: 25px;

  @include sm {
    margin-bottom: 20px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center {
    .page_main_title__,
    .page_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }

  &.with_border {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba($headingMainColor, 0.12);
  }

  .price-title {
    font-size: 1.4rem;
    color: $thirdColor;
    font-weight: 400;
    margin-bottom: 7px;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}
