.main_card {
  display: block;
  position: relative;
  padding: 17px 12px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: $mainBorderRadius;
  transition: 0.5s;
  box-shadow: 0 0 60px rgba(#acacac, 0.13);
  margin: 0 auto;

  @include xs {
    padding: 10px 10px;
    padding-bottom: 15px;
  }

  .image_wrapper {
    border-radius: $mainBorderRadius;
    overflow: hidden;
    margin: 0 auto;
    max-width: 310px;
  }

  .figure__ {
    transition: 0.4s;
    @include p-bottom(131, 236);
  }

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 25px;
    margin-top: 20px;

    @include xs {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .parg {
    font-size: 1.4rem;
    color: $paragraphMainColor;
    font-weight: 400;
    margin-bottom: 21px;

    @include xs {
      margin-bottom: 10px;
    }
  }
  .icon__ {
    margin: 0;
  }

  &:hover {
    .service_link {
      background-color: $primaryColor;
      color: #fff;
    }

    .figure__ {
      transition: 0.4s;
      transform: scale(1.1);
    }
  }


  &.service_card {
    text-align: center;
    padding: 21px;

    .figure__ {
      @include p-bottom(181, 310);
    }

    .title {
      font-size: 2.2rem;
    }
  }
}
