.no_data_wrapper {
  padding: 150px 0;

  .figure__ {
    margin-bottom: 30px;
    filter: grayscale(1);
    max-width: 103px;
    max-height: 103px;
  }

  .title__ {
    font-size: 1.8rem;
    font-weight: 700;
    color: $headingSecondaryColor;
    text-align: center;
    margin-bottom: 15px;
  }

  .parag__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    text-align: center;
  }
}