.order_card {
  display: block;
  background-color: #fff;
  border-radius: $mainBorderRadius;
  padding: 30px 20px;
  box-shadow: $mainBoxShadow;
  color: $headingMainColor;
  transition: 0.5s;

  .card_head_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 27px;
  }

  .title__ {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .order_number__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primaryColor;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 30px rgba(#acacac, 0.33);
  }
}