.order_info_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($primaryColor, 0.03);
  padding: 11px 30px;
  border-radius: $mainBorderRadius;
  color: $headingMainColor;

  .name__ {
    font-size: 1.6rem;
    color: $headingSecondaryColor;
    font-weight: 400;
  }

  .info__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
  }

  &:not(:last-child) {  
    margin-bottom: 10px;
  } 

  &.none_margin {
    margin: 0 !important;
  }
}