.rating_wrapper__ {
  color: $greyColor;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  margin-top: 24px;
  white-space: nowrap;
  gap: 7px;
  margin-bottom: 17px;
  width: fit-content;

  input[type="radio"] {
    appearance: none;
  }

  i {
    font-size: 2.8rem;
    transition: 0.3s;
    font-weight: 900 !important;
  }

  label {
    margin: 0;
    cursor: pointer;

    &:is(:hover, :has(~ :hover)) {
      i {
        // transform: scale(1.2);
        color: rgba($yellowColor, 0.5);
        font-weight: 900 !important;
      }
    }

    &:has(~ :checked) i {
      color: $yellowColor;
      font-weight: 900 !important;
    }
  }

  &.center {
    margin: 0 auto;
  }

  &.margin_bottom {
    margin-bottom: 20px;

    @include xs {
      margin-bottom: 10px;
    }
  }

  &.rating_done {
    i {
      font-size: 1.9rem;

      &.active {
        color: $yellowColor;
      }
    }

    .parag__ {
      font-size: 1.4rem;
      font-weight: 300;
      color: $paragraphMainColor;
    }
  }
}
