.search_section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  z-index: 2000;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  
  .overlay__ {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
  }

  .close_button {
    position: absolute;
    top: 30px;
    inset-inline-start: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 3.5rem;
    z-index: 5000;
  }

  .search_form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 5000;
  }

  .search_input{
    width: 100%;
    max-width: 500px;
    height: 60px;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.8rem;
    border-bottom: 1px solid #fff;
    
    &::placeholder {
      color: #fff;
    }
  }
  
  .button__ {
    position: relative;
    color: #fff;
    font-size: 2.5rem;
    height: 60px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
  }

  &.active {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}
