.selected_address_and_payment__ {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 67px;
  border-radius: $secondaryBorderRadius;
  background-color: $greyColor;
  padding: 15px 35px;

  .title__ {
    font-size: 1.4rem;
    font-weight: 700;
    color: $secondaryColor;
    margin-bottom: 10px;
  }

  .info__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
  }
}