.search_sort_wrapper{
  margin-bottom: 30px;
}

.sort_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @include xs {
    align-items: flex-start;
    flex-direction: column;
    
  }
  
  .sort_title__ {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: $headingMainColor;
    font-size: 1.6rem;
    font-weight: 700;
  }

}